---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/piecharts.js"></script>
<div id="piecharts" style="float:right">
  <div id="piechartBuilder" style="width: 600px; height: 350px;"></div><br>
  <div id="piechartSubkit" style="width: 600px; height: 350px;"></div>
</div>

<div class="posts">
{% for post in site.posts %}
  <article class="post">

    {% if post.thumbnail %}
    <img src="{{ post.thumbnail }}" style="height: 128px; width: 128px;  margin: 10px" align="left"/>
  {% endif %}
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
      {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      <b style="font-size: 85%">
      <span>
        {% for tag in post.tags %}
          <a href="/tag/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
     </span>
     </b>
   </div>
  </article>
{% endfor %}
</div>


