---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.thumbnail %}
	    <img src="{{ post.thumbnail }}" style="height: 128px; width: 128px;  margin: 10px" align="left"/>
	  {% endif %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>
      <span>
        {% for tag in page.tags %}
          <a href="/tag/{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code>&nbsp;</a>
        {% endfor %}
     </span>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
