---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.thumbnail %}
	    <img src="{{ post.thumbnail }}" style="height: 128px; width: 128px;  margin: 10px" align="left"/>
	  {% endif %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        <b style="font-size: 85%">
        <span>
          {% for tag in post.tags %}
            <a href="/tag/{{ tag }}">#{{ tag }}</a>
          {% endfor %}
       </span>
       </b>
     </div>
    </article>
  {% endfor %}
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
   google.charts.load('current', {
        'packages': ['corechart']
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Builder', 'Hours'],

          ["Sasha", 150.45000000000002],

          ["Peter", 163.95],

          ["Katya", 34.7],

          ["Claude", 4.0],

          ["Bryan", 4.0],

          ["Zina", 12.2],

          ["Kane", 4.0],

          ["David", 4.0],

          ["Kevin", 5.0],

          ["Jonah", 7.5],

          ["Andrew", 2.5],

          ["Jonathan", 2.5],

          ["Teja", 1.0],

          ["Mama", 3.25],

          ["Papa", 3.25],

          ["Fred", 2.0],

        ]);

        var options = {
          title: "Build hours by builder"
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
<div id="piechart" style="width: 900px; height: 500px;"></div>

